* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  height: 50px;
  color: #FFF;
}
.menu ul {
  background-color: rgb(221, 122, 193);
  list-style: none;
}
.menu li {
  border: 30px;
  padding: 15px 10px;
  display: inline-block;
}
.menu ul ul{
  top: 48px;
  position: absolute;
}
.menu .item-list li {
  display: block;
}
.menu li:hover {
  background-color: rgba(126, 28, 125, 0.82);
  cursor: pointer;
}
.hide {
  display: none;
}
.show {
  display: block;
}
